<!DOCTYPE html>
<html lang="ja" ng-app="Search">
  <head>
    <meta charset="UTF-8">
    <title>google vs bing</title>
    <link rel="stylesheet" href="./main.css">
    <script type='text/javascript' src="./js/angular.min.js"></script>
    <script type='text/javascript' src="./js/angular-resource.min.js"></script>
    <script type='text/javascript' src="./js/angular-sanitize.min.js"></script>
    <script type='text/javascript' src='./js/secret_bing.js'></script>
    <script type='text/javascript' src='./js/app.js'></script>
    <script type='text/javascript' src='./js/controllers.js'></script>
    <script type='text/javascript' src='./js/services.js'></script>
  </head>
  <body ng-controller="searchCtrl" >
    <h2 class="center">Google vs Bing</h2>
    <div>
      <p class="center">
        <form name="search_form" ng-submit="do_search(form.query)" novalidate>
          <input type="text" placeholder="クエリ" ng-model="form.query" required>
          <input type="submit" value="{{form.query||'クエリを入力'}}">
          <span ng-show="search_form.$error.required">クエリを入力してください</span>
        </form>
      </p>

      <p>
        <input type="text" id="filter" ng-model="filter_result" placeholder="絞り込み">
      </p>
      <span class="loading" ng-show="is_loading">読込中...</span>
      <div class="results">
        <div id="google">
          <li ng-show="google_result.length" ng-repeat="r in google_result | filter:filter_result">
            <a href="{{r.url}}" target="_blank"><span ng-bind-html="r.title"></span></a><br/>
            <span ng-bind-html="r.content"></span>
          </li>
        </div>
        <div id="bing">
          <li ng-show="bing_result.length" ng-repeat="r in bing_result | filter:filter_result">
            <a href="{{r.Url}}" target="_blank">{{r.Title}}</a><br/>
            <span>{{r.Description}}</span>
          </li>
        </div>
      </div>
    </div>

  </body>
</html>
